{% extends "inventory/base.html" %}
{% block content %}
        <h1>Item: {{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p>${{ item.price|floatformat:2 }}</p>
        <button>
            <a href="{%url 'edit_item' pk=item.id%}">Edit</a>
        </button>
        <form method="post" action="{% url "delete_item" pk=item.id%}">
            {% csrf_token %}
            <input type="submit" value="Delete"> 
        </form> 
    <h1>Item inventory</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Add stock" name="add_stock">
    </form>
    </br>
        <table cellpadding="2" border="1">
            <tr>
                <th>Warehouse</th>
                <th>Location</th>
                <th>Available Stock</th>
                <th>Actions</th>
            </tr>
            {% for inventory in available_stock %}
                <tr>
                    <td><a href="{%url 'warehouse' pk=inventory.warehouse.id%}">{{ inventory.warehouse.name }}</a></td>
                    <td>{{ inventory.warehouse.location|slice:":200" }} </td>
                    <td>{{ inventory.stock }}</td>
                    <td>
                        <button><a href="{%url 'edit_inventory' pk=inventory.id%}">Edit</a></button>
                        <form method="post" action="{% url "delete_inventory" pk=inventory.id%}">
                            {% csrf_token %}
                            <input type="submit" value="Delete"> 
                        </form> 
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}